<section class="driving-progress position-relative">
    <
    img src="~/media/driving-progress-background.png" alt="Driving Progress Background" class="bg-image">
    <div class="container position-relative driving-content">
        <div class="row align-items-center">
            <!-- Left Content Section -->
            <div class="col-lg-8 text-white">
                <h1 class="dr-title">
                    Driving Progress with Sustainability
                    <span>at Core</span>
                </h1>
                <p class="section-subtitle mt-3 mb-4">Our commitment to environmental stewardship is embedded in every aspect of our operations.
                    We not only contributing to a greener future but also empowering our clients to achieve
                    their sustainability goals.</p>
                <!-- Sustainability Goals Box -->
                <div class="vision-box p-5 mt-4">
                    <h5 class="text-white mb-4">Our Sustainability Vision For 2030</h5>
                    <div class="d-flex justify-content-between flex-wrap gap-1">
                        <div class="cx-card text-center">
                            <
                            img src="~/media/co2.svg" alt="Carbon">
                            <h3>0%</h3>
                            <p>
                                Carbon Scope 1 & < br> Scope 2 emissions
                            </p>
                        </div>
                        <div class="cx-card text-center">
                            <
                            img src="~/media/renewable-energy.svg" alt="Renewable">
                            <h3>100%</h3>
                            <p>Renewable energy</p>
                        </div>
                        <div class="cx-card text-center">
                            <
                            img src="~/media/waste-landfill.svg" alt="Waste">
                            <h3>100%</h3>
                            <p>Waste to landfill</p>
                        </div>
                    </div>
                    <p class="vision-desc mt-3">AdaniLogistic is a value-driven business and believe that for data centers,
                        renewable energy can be a powerful value driver.</p>
                    <div class="d-flex gap-3 mt-3">
                        <a href="#" class="btn btn-gradient">
                            Explore ESG
                        </a>
                        <a href="#" class="btn btn-gradient">
                            Explore HSE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
