<section class="common-banner">
	<img src="~/media/test2.jpg" alt="Alternate Text" />
    <div class="cx-heading">
        <h1>Contact <span>Us</span></h1>
        <p>Got question sor need assistance ? Reach out <br>to us, and we'll make sure you're heard</p>
    </div>
</section>
