<section class="websites-section py-5">
    <div class="container">
        <h3 class="section-title mb-4">Our Websites</h3>

        <!-- Swiper -->
        <div class="swiper websitesSwiper">
            <div class="swiper-wrapper">

                <!-- Website 1 -->
                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-one.svg" alt="Adani One">
                    </div>
                    <p class="website-name mt-2">Adani One</p>
                </div>

                <!-- Website 2 -->
                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Foundation.svg" alt="Adani Foundation">
                    </div>
                    <p class="website-name mt-2">Adani Foundation</p>
                </div>

                <!-- Website 3 -->
                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Group.svg" alt="Adani Group">
                    </div>
                    <p class="website-name mt-2">Adani Group</p>
                </div>

                <!-- Website 4 -->
                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Ports-&-SEZ.svg" alt="Adani Ports & SEZ">
                    </div>
                    <p class="website-name mt-2">Adani Ports & SEZ</p>
                </div>

                <!-- Website 5 -->
                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Gas.svg" alt="Adani Gas">
                    </div>
                    <p class="website-name mt-2">Adani Gas</p>
                </div>

                <!-- Website 6 -->
                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Transmission.svg" alt="Adani Transmission">
                    </div>
                    <p class="website-name mt-2">Adani Transmission</p>
                </div>

                <!-- Website 7 -->
                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Green-Energy.svg" alt="Adani Green Energy">
                    </div>
                    <p class="website-name mt-2">Adani Green Energy</p>
                </div>

                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Green-Energy.svg" alt="Adani Green Energy">
                    </div>
                    <p class="website-name mt-2">Adani Green Energy</p>
                </div>

                <div class="swiper-slide text-center">
                    <div class="website-card">
                        <img src="~/media/Adani-Green-Energy.svg" alt="Adani Green Energy">
                    </div>
                    <p class="website-name mt-2">Adani Green Energy</p>
                </div>

            </div>

         
        </div>
        <!-- Navigation Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
