<section class="solutions-section py-5">
    <div class="container cx-heading">
        <h1>
            Flexible Solutions for
            <span>Your Evolving Need</span>
        </h1>
        <p class="section-subtitle mt-3 mb-5">With India's expanding digital landscape and supportive regulatory environment,
            AdaniLogistic empowers enterprises to advance their digital journey, driving growth
            through reliable and sustainable solutions.</p>
        <!-- Row 1 -->
        <div class="row g-4 mt-5 justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="solution-card">
                    <img src="~/media/Build-To-Suit-Image.png" alt="Build to Suit" />
                    <div class="overlay">
                        <a href="#">
                            <span class="circle-btn">
                                < img src="~/media/arrow.svg" alt="Logo" class="arrow-image">
                            </span>
                        </a>
                        <h2>Build to Suit</h2>
                        <p>Scale in India with customized data center solutions designed efficiently
                            to drive your business, anywhere, anytime.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="solution-card">
                    <img src="~/media/Build-To-Suit-Image.png" alt="Energy as a Solution" />
                    <div class="overlay">
                        <a href="#">
                            <span class="circle-btn">
                                < img src="~/media/arrow.svg" alt="Logo" class="arrow-image">
                            </span>
                        </a>
                        <h2>Energy as a Solution</h2>
                        <p>End-to-end energy optimization solutions for data centers, ensuring
                            reliability, efficiency, and sustainability.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row g-4 mt-3 justify-content-center">
            <div class="col-md-4 col-lg-4">
                <div class="solution-card">
                    <img src="~/media/Build-To-Suit-Image.png" alt="Colocation" />
                    <div class="overlay">
                        <a href="#">
                            <span class="circle-btn">
                                < img src="~/media/arrow.svg" alt="Logo" class="arrow-image">
                            </span>
                        </a>
                        <h2>Colocation</h2>
                        <p>Ensure optimal performance with our reliable colocation services designed
                            to fast track your digital journey.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="solution-card">
                    <img src="~/media/Build-To-Suit-Image.png" alt="Connectivity" />
                    <div class="overlay">
                        <a href="#">
                            <span class="circle-btn">
                                < img src="~/media/arrow.svg" alt="Logo" class="arrow-image">
                            </span>
                        </a>
                        <h2>Connectivity</h2>
                        <p>Carrier & cloud-neutral facilities with enhanced reachability, seamlessly
                            connecting your digital infrastructure.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="solution-card">
                    <img src="~/media/Build-To-Suit-Image.png" alt="Managed Services" />
                    <div class="overlay">
                        <a href="#">
                            <span class="circle-btn">
                                < img src="~/media/arrow.svg" alt="Logo" class="arrow-image">
                            </span>
                        </a>
                        <h2>Managed Services</h2>
                        <p>Verticalized infrastructure solutions with pay-per-use, designed to power
                            your agile and mission-critical applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
