<section class="experience-section text-center py-5 container">
    <div class="cx-heading mb-5">
        <h1>Experience and Expertise <span>You Can Trust</span></h1>
        <p class="section-subtitle mt-3 mb-5">
            Delivering powerful, future-ready solutions backed by industry recognition and proven success.
            With state-of-the-art infrastructure, expansive capabilities, and award-winning performance,
            we ensure you get the best in class.
        </p>
    </div>

    <!-- Stats Cards -->
    <div class="row justify-content-center g-4">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="cx-card hover">
                <img src="~/media/Scalable for Growth.svg" alt="Availability" />
                <h3>99.999%</h3>
                <p>Availability</p>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="cx-card hover">
                <img src="~/media/hugeicons_electric-tower-01.svg" alt="Operational" />
                <h3>100+ MW</h3>
                <p>Currently Operational</p>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="cx-card hover">
                <img src="~/media/Frame.svg" alt="Under Construction" />
                <h3>210+ MW</h3>
                <p>Under Construction</p>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="cx-card hover">
                <img src="~/media/arcticons_microsoft-power-bi.svg" alt="Data Center" />
                <h3>1 GW</h3>
                <p>Data Center Capacity By 2030</p>
            </div>
        </div>
    </div>

</section>
