<section class="cotact-map mt">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="map-box">
                @Html.Partial("~/Views/Sublayouts/Mapsvg.cshtml")
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cx-card">
                    <div class="swiper map-swiper">
                        <div class="swiper-wrapper">
                            <div
                                class="swiper-slide"
                                id="noida-s"
                                data-map="-55~-16">
                                <div class="title">Noida</div>
                                <div class="desc">
                                    AdaniLogistic Data Center
                                    <
                                    br>
                                    Pargi Road
                                    <br />
                                    509410 Ekkatta
                                    <br />
                                    India
                                </div>
                            </div>
                            <div
                                class="swiper-slide"
                                id="hyderabad-s"
                                data-map="-55~-16">
                                <div class="title">Hyderabad</div>
                                <div class="desc">
                                    AdaniLogistic Data Center
                                    <
                                    br>
                                    Pargi Road
                                    <br />
                                    509410 Ekkatta
                                    <br />
                                    India
                                </div>
                            </div>
                            <div
                                class="swiper-slide"
                                id="chennai-s"
                                data-map="-55~-16">
                                <div class="title">Chennai</div>
                                <div class="desc">
                                    AdaniLogistic Data Center
                                    <
                                    br>
                                    Pargi Road
                                    <br />
                                    509410 Ekkatta
                                    <br />
                                    India
                                </div>
                            </div>
                            <div
                                class="swiper-slide"
                                id="mumbai-s"
                                data-map="-55~-16">
                                <div class="title">Mumbai</div>
                                <div class="desc">
                                    AdaniLogistic Data Center
                                    <
                                    br>
                                    Pargi Road
                                    <br />
                                    509410 Ekkatta
                                    <br />
                                    India
                                </div>
                            </div>
                            <div
                                class="swiper-slide"
                                id="pune-s"
                                data-map="-55~-16">
                                <div class="title">Pune</div>
                                <div class="desc">
                                    AdaniLogistic Data Center
                                    <
                                    br>
                                    Pargi Road
                                    <br />
                                    509410 Ekkatta
                                    <br />
                                    India
                                </div>
                            </div>
                            <div
                                class="swiper-slide"
                                id="vizag-s"
                                data-map="-55~-16">
                                <div class="title">Vizag</div>
                                <div class="desc">
                                    AdaniLogistic Data Center
                                    <
                                    br>
                                    Pargi Road
                                    <br />
                                    509410 Ekkatta
                                    <br />
                                    India
                                </div>
                            </div>
                            <div
                                class="swiper-slide"
                                id="singapore-s"
                                data-map="-61~-22">
                                <div class="title">Singapore</div>
                                <div class="desc">
                                    AdaniLogistic Data Center
                                    <
                                    br>
                                    Pargi Road
                                    <br />
                                    509410 Ekkatta
                                    <br />
                                    India
                                </div>
                            </div>
                        </div>
                        <!-- Navigation buttons -->
                        <div class="map-swiper-prev cx-navigation dull">&lt</div>
                        <div class="map-swiper-next cx-navigation">&gt;</div>
                    </div>
                    <div class="cx-card hover mt-5">
                        <div class="contacts">
                            <a class="contact" href="">
                                <img src="~/media/mail.png" />
                                <p>+91-79-26565555</p>
                            </a>
                            <a class="contact" href="">
                                <img src="~/media/phone.svg" />
                                <p>+91-79-26565555</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
