<section class="infrastructure-section">
    <
    img src="~/media/Globally-bg.svg" alt="Background" class="section-bg">
    <div class="cx-heading mb-5">
        <h1>
            Globally Benchmarked with
            <span>Local Excellence</span>
        </h1>
        <p class="section-subtitle mt-3 mb-5">AdaniLogistic, a strategic alliance between Adani, India's leading infrastructure conglomerate, and data center pioneer EdgeLogistic to deliver world-class, scalable solutions tailored for India's digital future.</p>
    </div>
    <div class="logo">
        <img src="~/media/layer1.svg" alt="Availability" />
        <img src="~/media/edgelogistic-White.svg" alt="Availability" />
    </div>
    <div class="container">
        <!-- Card 1 -->
        <div class="infrastructure-card image-first">
            <div class="image-wrapper">
                <img src="~/media/Anywhere.svg" alt="Anywhere Any Scale" />
            </div>
            <div class="text-content">
                <h2>Anywhere</h2>
                <p class="subtitle">Any Scale</p>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="infrastructure-card title-first">
            <div class="text-content">
                <h2>Operational</h2>
                <p class="subtitle">Excellence</p>
            </div>
            <div class="image-wrapper">
                <img src="~/media/Anywhere.svg" alt="Operational Excellence" />
            </div>
        </div>
        <!-- Card 3 -->
        <div class="infrastructure-card image-first">
            <div class="image-wrapper">
                <img src="~/media/Anywhere.svg" alt="Sustainable Infrastructure" />
            </div>
            <div class="text-content">
                <h2>Sustainable</h2>
                <p class="subtitle">Infrastructure</p>
            </div>
        </div>
    </div>
</section>
