<section class="news-chairman-section py-5">
    <div class="container">
        <div class="row g-0 shadow-sm rounded overflow-hidden">

            <!-- News & Updates Section -->
            <div class="col-md-4 p-4 bg-white">
                <h5 class="news-title mb-4">News and Updates</h5>

                <div class="news-item d-flex mb-3">
                    <i class="bi bi-file-text news-icon"></i>
                    <p class="news-text mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    </p>
                </div>

                <div class="news-item d-flex mb-3">
                    <i class="bi bi-file-text news-icon"></i>
                    <p class="news-text mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    </p>
                </div>

                <div class="news-item d-flex mb-4">
                    <i class="bi bi-file-text news-icon"></i>
                    <p class="news-text mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    </p>
                </div>

                <a href="#" class="btn gradient-btn">Read more</a>
            </div>

            <!-- Chairman Corner Section -->
            <div class="col-md-4 chairman-box p-4 text-white">
                <h6 class="chairman-heading mb-3">Chairman's Corner</h6>
                <p class="chairman-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing onsectetuer adipiscing elit sed do eiusmod tempor incididunt ut labore
                </p>
                <p class="chairman-name mb-0">Gautam Adani</p>
                <small>Chairman, Adani Group</small>
            </div>

            <!-- Chairman Image -->
            <div class="col-md-4 chairman-img-box">
                <img src="~/media/chairman-image.png" alt="Chairman" class="img-fluid w-100 h-100 object-fit-cover">
            </div>

        </div>
    </div>
</section>
