<section class="contact-section py-5 container">
    <div class="">
        <div class="text-center mb-4">
            <h3 class="section-title mb-3">Contact Us</h3>
            <p class="section-desc">
                We are a leading provider of integrated warehousing and logistics solutions, offering safe, efficient, and
                technology-enabled storage services across India. Our modern facilities are strategically located to support
                smooth supply chain operations for industries ranging from manufacturing and retail to e-commerce and pharmaceuticals.
            </p>
        </div>

      
    </div>
    <div class="row align-items-center g-5">
        <!-- Left: Office image -->
        <div class="col-lg-6">
            <img src="~/media/ContactUs-Image.svg" alt="Adani Corporate House" class="img-fluid office-img rounded-4 shadow-sm" />
        </div>

        <!-- Right: Contact Details -->
        <div class="col-lg-6">
            <div class="office-info mb-4">
                <h6 class="fw-bold">India</h6>
                <h6 class="fw-bold">Global Headquarters</h6>
                <p class="office-text mt-2 mb-1">
                    Adani Corporate House<br />
                    
                </p>
                <p>
                    Shantigram, Near Vaishnodevi Circle, S.G Highway,<br />
                    Ahmedabad-382421 Gujarat, India
                </p>
                <p class="mb-1"> +91 79 2656 5555</p>
                <p class="mb-0"> <a href="https://www.adani.com" target="_blank">www.adani.com</a></p>
            </div>

            <div class="office-info">
                <h3 class="office-title mb-1">Adani House</h3>
                <p class="office-text mt-2 mb-1">
                    Nr. Mithakhali Circle Navrangpura Ahmedabad 380 009<br />
                    Gujarat, India
                </p>
                <p class="mb-1"> +91 79 2656 5555</p>
                <p class="mb-1"> +91 79 2656 5555 / +91 79 2656 5000</p>
            </div>
        </div>
    </div>
</section>
