<section class="contact-cards mt">
    <div class="cx-heading">
        <h1>We're Here to<span>Help!</span></h1>
        <p>Need assistance ? Reach out We're just a call away!</p>
    </div>
    <div class="container-small">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 col-md-6">
                <div class="card">
                    <div class="imageBox">
                        <img src="~/media/headphones.png" alt="Alternate Text" />
                        <h4>Customer Support</h4>
                        <p>Our team are on hand 24*7*365 to phelp protect your misson-critical data.</p>
                    </div>
                    <span>Get 24/7 Assistance</span>

                </div>
            </div><div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="imageBox">
                        <img src="~/media/headphones.png" alt="Alternate Text" />
                        <h4>Customer Support</h4>
                        <p>Our team are on hand 24*7*365 to phelp protect your misson-critical data.</p>
                    </div>
                    <span>Get 24/7 Assistance</span>

                </div>
            </div><div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="imageBox">
                        <img src="~/media/headphones.png" alt="Alternate Text" />
                        <h4>Customer Support</h4>
                        <p>Our team are on hand 24*7*365 to phelp protect your misson-critical data.</p>
                    </div>
                    <span>Get 24/7 Assistance</span>

                </div>
            </div><div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="imageBox">
                        <img src="~/media/headphones.png" alt="Alternate Text" />
                        <h4>Customer Support</h4>
                        <p>Our team are on hand 24*7*365 to phelp protect your misson-critical data.</p>
                    </div>
                    <span>Get 24/7 Assistance</span>

                </div>
            </div><div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="imageBox">
                        <img src="~/media/headphones.png" alt="Alternate Text" />
                        <h4>Customer Support</h4>
                        <p>Our team are on hand 24*7*365 to phelp protect your misson-critical data.</p>
                    </div>
                    <span>Get 24/7 Assistance</span>

                </div>
            </div><div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="imageBox">
                        <img src="~/media/headphones.png" alt="Alternate Text" />
                        <h4>Customer Support</h4>
                        <p>Our team are on hand 24*7*365 to phelp protect your misson-critical data.</p>
                    </div>
                    <span>Get 24/7 Assistance</span>

                </div>
            </div>
        </div>
    </div>
</section>
