<section class="your-growth py-4">
    <div class="growth-wrapper">
        <img src="~/media/your-growth-our-priority.svg" alt="Driving Progress Background" class="bg-growth-image">
        <h2 class="growth-title">Your Growth, Our Priority</h2>
    </div>
</section>