<div class="container-fluid">
    <div class="row gy-4">

        <!-- Logo & Description -->
        <div class="col-lg-4 col-md-6">
            <div class="footer-logo mb-3">
                <img src="assets/images/logo.svg" alt="Logo" class="img-fluid">
            </div>
            <p class="footer-desc">
                Powering digital transformation with next generation data center
                infrastructure across India.
            </p>
            <div class="social-icons mt-3">
                <a href="#"><i class="bi bi-youtube"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter-x"></i></a>
            </div>
            <div class="newsletter mt-4">
                <h6 class="fw-bold text-white mb-2">Subscribe To Newsletter</h6>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter Email Id">
                    <button class="btn btn-subscribe" type="button">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Solutions -->
        <div class="col-lg-2 col-md-6 col-6">
            <h6 class="fw-bold text-white mb-3">Solutions</h6>
            <ul class="footer-links list-unstyled">
                <li><a href="#">Build to Suit</a></li>
                <li><a href="#">Energy as a Service</a></li>
                <li><a href="#">Colocation</a></li>
                <li><a href="#">Managed Services</a></li>
                <li><a href="#">Connectivity</a></li>
            </ul>
        </div>

        <!-- Locations -->
        <div class="col-lg-2 col-md-6 col-6">
            <h6 class="fw-bold text-white mb-3">Locations</h6>
            <ul class="footer-links list-unstyled">
                <li><a href="#">Chennai</a></li>
                <li><a href="#">Navi Mumbai</a></li>
                <li><a href="#">Hyderabad</a></li>
                <li><a href="#">Pune</a></li>
                <li><a href="#">Noida</a></li>
            </ul>
        </div>

        <!-- Company -->
        <div class="col-lg-2 col-md-6 col-6">
            <h6 class="fw-bold text-white mb-3">Company</h6>
            <ul class="footer-links list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Resources/Insights</a></li>
                <li><a href="#">Investors Relations</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Awards & Accolades</a></li>
            </ul>
        </div>

        <!-- Contact -->
        <div class="col-lg-2 col-md-6 col-6">
            <h6 class="fw-bold text-white mb-3">Contact</h6>
            <ul class="footer-links list-unstyled">
                <li>
                    <i class="bi bi-telephone me-2"></i>
                    <a href="tel:+917926565555">+91-79-26565555</a>
                </li>
                <li>
                    <i class="bi bi-envelope me-2"></i>
                    <a href="mailto:adanilogistic@adani.com">adanilogistic@adani.com</a>
                </li>
            </ul>
        </div>

    </div>
</div>