// colours
$primary: #fff;
$secondary: #00080e;
$blue: #24a6ca;
$granite: #666;
$snow: #fdf8f8;
$darkcharcoal: #333;
$red: #fa221f;
$gainsboro: #dedede;
$brightnavyblue: #0f73e2;
$cultured: #f4f4f4;
$raisinblack: #222;
$ghostwhite: #f9f9f9;
$chinesesilver: #cacaca;
$antiflashwhite: #f3f3f3;
$denim: #0d67ca;
$spanishgray: #999;
$baastrichtblue: #0f142e;
$dolphingray: #808b83;
$darkred: #d30a0a;
$crayola: #13a180;
$seashell: #fff6ec;
$venetianred: #cc0909;
$deepsafron: #eea600;
$verypaleorange: #f8ddc2;
$lavenderblush: #ffefef;
$palepink: #ffd7d7;
$culturedGrey: #f7f7f7;
$lightgray: #dfdfdf;
$lightgrey: #dddddd;
$surface: #f2f2f2;
$davygray: #555555;
$aliceblue: #ecf6ff;
$darkgrey: #aaaaaa;
$lightgraycultured: #f5f5f5;
$floralwhite: #fef9ef;
$platinumgrey: #e6e2de;
$ateneoblue: #0a3c69;
$chineeseyellow: #ffb200;
$platinum: #dee2e6;
$indigo: #1a3464;
$brightGray: #eaeaea;
$chromeYellow: #ffaa00;
$cornSilk: #fcf2db;
$darkBronze: #604504;
$culturedLight: #f6f6f6;
$goldenrod: #f9a51a;
$chineseDarkSilver: #ccc;
$junglegreen: #2bba7e;
$quicksilver: #a3a3a3;
$snowwhite: #fbfbff;
$antiflashSecondary: #f1f1f1;
$deepSaffron: #f69b2d;
$platinumlight: #e2e2e2;
$lightsilver: #d9d9d9;
$silversand: #c2c2c2;

// z-index
$zindex-0: 0;
$zindex-1: 1;
$zindex-2: 2;
$zindex-3: 3;
$zindex-4: 4;
$zindex-5: 5;
$zindex-base: $zindex-0;
$zindex-header: $zindex-2;


//custom
$button-gradient: linear-gradient(90deg, #814091, #30598f);
$text-light: #FFFFFF;
$transition: 0.3s ease;
$icon-color: #00b5d8;
$overlay-bg: rgba(0, 0, 0, 0.45);
$border-grey: #333537;
$dark-bg: #151515;

