@use './partials/variable.scss' as *;
@use './partials/_mixins.scss' as *;


.contact-section {
    background: #fff;

    .section-title {
        font-size: 56px;
        font-weight: 700;
        color: #000;
    }

    .section-desc {
        max-width: 850px;
        margin: 0 auto;
        color: #444;
        font-size: 15px;
        line-height: 1.6;
    }

    .office-img {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .office-info {
        background: #fff;
        padding-left: 16px;
        margin-bottom: 30px;

        .office-title {
            color: #00349e;
            font-size: 16px;
            font-weight: 600;
        }

        .office-text {
            color: #444;
            font-size: 14px;
            line-height: 1.6;
        }

        a {
            color: #00349e;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        i {
            color: #666;
            width: 16px;
        }
    }

    @media (max-width: 768px) {
        .section-desc {
            font-size: 14px;
        }

        .office-info {
            border-left: none;
            padding-top: 15px;
            margin-top: 20px;
        }
    }
}
