@use './partials/variable.scss' as *;
@use './partials/_mixins.scss' as *;
@use './partials/_fonts.scss' as *;


@font-face {
    font-family: AdaniSemiBold;
    src: url("/fonts/AALP/Adani-SemiBold.woff");
}

@font-face {
    font-family: AdaniRegular;
    src: url("/fonts/AALP/Adani-Regular_1.woff");
}

@font-face {
    font-family: AdaniMedium;
    src: url("/fonts/AALP/Adani-Medium.woff");
}

.contact-section {
    background: #fff;

    .section-title {
        font-family: AdaniRegular !important;
        color: #000;
        text-align: left;
    }

    .section-desc {
        color: #444;
        font-size: 15px;
        line-height: 1.6;
        text-align: left;
    }

    .office-img {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .office-info {
        background: #fff;
        padding-left: 16px;
        margin-bottom: 30px;

        .fw-bold {
            color: #063293;
            font-weight: 600;
            font-size: 30px;
        }

        .office-title {
            color: #00349e;
            font-size: 16px;
            font-weight: 600;
        }

        .office-text {
            color: #444;
            font-size: 20px;
            line-height: 1.6;
            font-weight:500;
        }

        a {
            color: #00349e;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        i {
            color: #666;
            width: 16px;
        }
    }

    @media (max-width: 768px) {
        .section-desc {
            font-size: 14px;
        }

        .office-info {
            border-left: none;
            padding-top: 15px;
            margin-top: 20px;
        }
    }
}
